.home-page{
    margin:0;
    padding:0;
   
}
.first-section{
    background-image: url(../../Photo/Football-stadium.jpg);
    background-repeat: no-repeat;
    background-position: 40% 60%;
    height:400px; 
    background-size:cover;
   
}
.first-section h1{
 color: white;
 text-align:center;
 line-height:400px;
 /* font-size:40px; */
 margin:0;
 padding:0;
 
}
.second-section{
    background-color:rgb(4, 4, 31);
    display:inline-block;
    width:100%;
    height:100%;
    text-align:center;
    align-items:center;
    
}
